:root {
    --color-primary: #27AE60;
    --color-secundary: #EB5757;

    --color-white: #fff;
    --color-grey-0: #F5F5F5;
    --color-grey-100: #E0E0E0;
    --color-grey-300: #828282;
    --color-grey-400: #bdbdbd;
    --color-grey-600: #333333;
    --color-black20: rgba(0, 0, 0, 0.2);

}

* {
    font-family: 'Inter', sans-serif;
}